<h1><a href="/"><img src="https://farm2.staticflickr.com/1630/26010974126_687be28542.jpg"></a></h1>
<h1>Add Verse To: '<%=@topic.name%>'</h1>
<h4><%=@message%></h4>

<form method="post" action="/topics/<%=@topic.slug%>/add_verse">
  <h4>Chapter:</h4>  <select required name="verse[chapter]">
  <option value="">- Select A Chapter -</option>
  <option value="1">Chapter One: Observing the Armies on the Battleﬁeld of Kurukṣetra</option>
  <option value="2">Chapter Two: Contents of the Gītā Summarized</option>
  <option value="3">Chapter Three: Karma-yoga</option>
  <option value="4">Chapter Four: Transcendental Knowledge</option>
  <option value="5">Chapter Five: Karma-yoga – Action in Kṛṣṇa Consciousness</option>
  <option value="6">Chapter Six: Dhyāna-yoga</option>
  <option value="7">Chapter Seven: Knowledge of the Absolute</option>
  <option value="8">Chapter Eight: Attaining the Supreme</option>
  <option value="9">Chapter Nine: The Most Conﬁdential Knowledge</option>
  <option value="10">Chapter Ten: The Opulence of the Absolute</option>
  <option value="11">Chapter Eleven: The Universal Form</option>
  <option value="12">Chapter Twelve: Devotional Service</option>
  <option value="13">Chapter Thirteen: Nature, the Enjoyer and Consciousness</option>
  <option value="14">Chapter Fourteen: The Three Modes of Material Nature</option>
  <option value="15">Chapter Fifteen: The Yoga of the Supreme Person</option>
  <option value="16">Chapter Sixteen: The Divine and Demoniac Natures</option>
  <option value="17">Chapter Seventeen: The Divisions of Faith</option>
  <option value="18">Chapter Eighteen: Conclusion – The Perfection of Renunciation</option>
</select><br><br>


 <h4>Verse:</h4>   <input required type="number" name="verse[sloka]" min="1" max="78"><br><br>

  <h4>Content: *<a href="http://www.vedabase.com/en/bg" target="_blank">Find Your Translation Here</a></h4> 
  <textarea required rows="5" cols="40" name="verse[content]" placeholder="Paste Translation Here:"></textarea>

  <br><br> <input type="submit" id="submit" value="Add Verse">
</form><br>
<a href="/topics/<%=@topic.slug%>/show"><input type="submit" id="submit" value="Back To Topic"></a><br><br>
