<h1><a href="/"><img src="https://farm2.staticflickr.com/1630/26010974126_687be28542.jpg"></a></h1>

<h1>Create New Topic</h1>

<form method="post" action="/topics">
  Topic: <input required type="text" size="30" name="name">
  <input type="submit" id="submit" value="Create">
</form>