<h1>Signup Form</h1>

<form method="post" action='/signup'>
  Username: <input required type="text" id="username" name="username"><br><br>
  Email: <input required type="email" id="email" name="email"><br><br>
  Password: <input required type="password" id="password" name="password"><br><br>
  <input type="submit" id="submit">
</form>