<h1><a href="/"><img src="https://farm2.staticflickr.com/1630/26010974126_687be28542.jpg"></a></h1>
<%= @message %>
<h3>Please <a href="/signup">Sign Up</a> - or - <a href="/login">Log In</a></h3>
 
<a href="/topics"><input type="submit" value="See All Topics"></a>
<a href="/verses"><input type="submit" value="See All Verses"></a>

<h2>Featured Topics:</h2>
<% unless @topics.empty? %>
  <% @topics.first(7).each do |t| %>
    <h4><a href="/topics/<%=t.slug%>/show"><%= t.name %></a> - <%= t.verses.count %> associated verse(s)</h4>
  <% end %>
<% else %>
  There are currently no Topics.<br>Please <a href="/signup">Sign Up</a> and contribute. It's Free!
<% end %>

<br><br>Logged In As: Guest
